body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
  }
  
  header {
    background-color: #E91E63;
    color: #FFF;
    text-align: center;
    padding: 20px;
  }
  
  section {
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFC107;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
  }
  
  h1 {
    color: #333;
    text-shadow: 2px 2px #FFF;
  }
  
  p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
  }